<h1><em>ThoughtPad</em></h1>

<br/>
<br/>
<br/>

<% @posts.each do |post| %>
<article>
  <h2><%= post.title %></h2>
  <p>
    <%= link_to "Read More...", post_path(post) %>
  </p>
</article>

<% end %>

<br/>
<br/>
<br/>

<em><%= link_to 'Create New Post', new_post_path %></em>
